/* html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
}

header{
  text-align: center;
  height: 60vh;
}

header img{
  opacity: 0.5;
  padding-top: 10vh;
}

h1, h2{
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  letter-spacing: 0.5em;
  font-size: 2.5em;
  color: #0a5482;
  padding-bottom: 0.3em;
}

h2{
  background-color: #0b2f44;
  display: inline-block;
  color: lightgray;
  padding: 0em 2em;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

section{
  font-family: 'Quicksand', sans-serif;
}

.formContainer{
  font-family: 'Quicksand', sans-serif;
  color: #a9c6e7;
  padding: 3em 2em;
  background-color: #0b3044;
}

.inputHeader{
  padding: 0.5em 0em;
  border-bottom: 1px solid #f7bf14;
  margin: 0.5em 0em;
  display: inline-block;
}

.input{
  width: 50%;
  height: 18px;
}

#submit{
  color: #ff68a0;
  padding: 0.3em;
  font-family: 'Poiret One', cursive;
  background-color: #9e043d;
  border: none;
  border-radius: 0;
  font-size: 1em;
  -webkit-transition: padding 0.5s, background-color 0.5s, color 0.5s;
  transition: padding 0.5s, background-color 0.5s, color 0.5s;
}
#submit:hover{
  padding: 0.3em 1em;
  background-color: #f7bf14;
  color: #0c3144;
}

.resultsContainer{
  border: 1px solid #f7bf14;
  padding: 1em;
  margin: 1em;
}

.trasHistory{
  position: relative;
  top: -6px;
  left: -2%;
  color: black;
  background-color: #f7bf14;
  padding: 0.5em 0.6em;
  border-bottom-right-radius: 12px;
}

.currentAddress{
  color: black;
  position: relative;
  padding: 0.5em;
  left: -2%;
  top: -8px;
  border-bottom: 2px solid #daedf2;
}


.accounts{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1em;
  border-bottom: 1px solid lightgray;
  text-align: center;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.accounts:hover{
  background-color: #add9e4;
}

a {
  color: #f7bf14;
}
a:hover{
  color: #ff68a0;
}

.to{
  width: 25%;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
  overflow: hidden;
}
.from{
  width: 25%;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
  overflow: hidden;
}
.block{
  width: 15%;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
  overflow: hidden;
}
.value{
  width: 25%;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 870px) {
  .to{
    width: 20%;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .from{
    width: 20%;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .block{
    width: 10%;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .value{
    width: 20%;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

footer{
  font-family: 'Poiret One', cursive;
  color: #36bc97;
  height: 30vh;
  margin-top: 5em;
  background-color: #0f2027;
}

.footerImg{
  margin: auto;
  text-align: center;
}

.footerPara{
  padding-top: 3em;
  text-align: center;
  border-right: 1px solid #27ab8a
} */

html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
}

/* The animation code */
@keyframes headerTransform {
    0%   {background-color:#e19f00;}
    33%  {background-color:#ff00e0;}
    66%  {background-color:teal;}
    100% {background-color:#e19f00;}
}

header {
  height: 100%;
  padding: 4em;
  background-image: url("/images/cyber-3400789_1280.jpg");
}

header h1 {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  color: white;
  padding: 5px;
  font-size: 3em;
  width: 50%;
}

header h2 {
  font-size: 2em;
  font-family: 'Poiret One', cursive;
  padding: 10px 15px;
  color: #ff8600;
  width: 50%;
}

.formContainer {
  text-align: center;
  padding: 8em;
  animation-name: headerTransform;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  background-color: #e19f00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffb31e' fill-opacity='0.4'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

form{
  box-shadow: 6px 10px 10px 5px #00000061;
  font-family: 'Cinzel', serif;
  background-color: #ff8600;
  display: inline-block;
  padding: 2em;
  font-size: 22px;
  border-radius: 14px;
  width: 50%;
}

form h3 {
  border-bottom: solid 1px white;
  text-align: left;
  color: white;
}

.input{
  width: 90%;
  height: 3em;
  background-color: #00fff3;
  border: none;
  border-radius: 5px;
}

#submit{
  color: white;
  padding: 0.5em;
  font-family: 'Poiret One', cursive;
  background-color: #9e043d;
  border: none;
  border-radius: 0;
  font-size: 1em;
  -webkit-transition: padding 0.5s, background-color 0.5s, color 0.5s;
  transition: padding 0.5s, background-color 0.5s, color 0.5s;
}
#submit:hover{
  padding: 0.5em 1em;
  background-color: #f7bf14;
  color: #0c3144;
  cursor: pointer;
}

.resultsSection {
  margin: 4em;
  padding: 1em;
  background-color: #f7f7f7;
  border-radius: 10px;
  border: solid 1px #ff8600;
}

.resultsHeader {
  font-size: 1.4em;
  padding: 0.5em 1em;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: -35px;
  left: -17px;
  background-color: #ff8600;
  display: inline-block;
  color: white;
  border-top-right-radius: 10px;
}

.resultsContainer{
  background-color: #ffffff;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

.primaryResult {
  color: #009c95;
  background-color: #00fff3;
  padding: 1em;
  border-radius: 10px 10px 0 0;
}

h2 span {
  font-weight: 900;
  color: red;
  text-decoration: underline;
}

.primaryResult a {
  color: #ffffff;
  margin-top: 1em;
  padding: 0.5em 0.5em;
  display: inline-block;
  text-decoration: none;
  background-color: #2097b8;
  -webkit-transition: padding 0.5s, text-decoration 0.5s;
  transition: padding 0.5s, text-decoration 0.5s;
}

.primaryResult a:hover {
  padding: 0.5em 1em;
  cursor: pointer;
  text-decoration: underline;
}

.resultsContainer h3 {
  color: #ffcccc;
  background-color: #f22802;
  padding: 10px;
}
