/* html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
}

header{
  text-align: center;
  height: 60vh;
}

header img{
  opacity: 0.5;
  padding-top: 10vh;
}

h1, h2{
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  letter-spacing: 0.5em;
  font-size: 2.5em;
  color: #0a5482;
  padding-bottom: 0.3em;
}

h2{
  background-color: #0b2f44;
  display: inline-block;
  color: lightgray;
  padding: 0em 2em;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

section{
  font-family: 'Quicksand', sans-serif;
}

.formContainer{
  font-family: 'Quicksand', sans-serif;
  color: #a9c6e7;
  padding: 3em 2em;
  background-color: #0b3044;
}

.inputHeader{
  padding: 0.5em 0em;
  border-bottom: 1px solid #f7bf14;
  margin: 0.5em 0em;
  display: inline-block;
}

.input{
  width: 50%;
  height: 18px;
}

#submit{
  color: #ff68a0;
  padding: 0.3em;
  font-family: 'Poiret One', cursive;
  background-color: #9e043d;
  border: none;
  border-radius: 0;
  font-size: 1em;
  -webkit-transition: padding 0.5s, background-color 0.5s, color 0.5s;
  transition: padding 0.5s, background-color 0.5s, color 0.5s;
}
#submit:hover{
  padding: 0.3em 1em;
  background-color: #f7bf14;
  color: #0c3144;
}

.resultsContainer{
  border: 1px solid #f7bf14;
  padding: 1em;
  margin: 1em;
}

.trasHistory{
  position: relative;
  top: -6px;
  left: -2%;
  color: black;
  background-color: #f7bf14;
  padding: 0.5em 0.6em;
  border-bottom-right-radius: 12px;
}

.currentAddress{
  color: black;
  position: relative;
  padding: 0.5em;
  left: -2%;
  top: -8px;
  border-bottom: 2px solid #daedf2;
}


.accounts{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1em;
  border-bottom: 1px solid lightgray;
  text-align: center;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.accounts:hover{
  background-color: #add9e4;
}

a {
  color: #f7bf14;
}
a:hover{
  color: #ff68a0;
}

.to{
  width: 25%;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
  overflow: hidden;
}
.from{
  width: 25%;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
  overflow: hidden;
}
.block{
  width: 15%;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
  overflow: hidden;
}
.value{
  width: 25%;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 870px) {
  .to{
    width: 20%;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .from{
    width: 20%;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .block{
    width: 10%;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .value{
    width: 20%;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

footer{
  font-family: 'Poiret One', cursive;
  color: #36bc97;
  height: 30vh;
  margin-top: 5em;
  background-color: #0f2027;
}

.footerImg{
  margin: auto;
  text-align: center;
}

.footerPara{
  padding-top: 3em;
  text-align: center;
  border-right: 1px solid #27ab8a
} */

html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
}

/* The animation code */
@keyframes headerTransform {
    0%   {background-color:black;}
    33%  {background-color:#ff00e0;}
    66%  {background-color:teal;}
    100% {background-color:black;}
}

header {
  height: 100%;
  padding: 4em;
  background-image: url("/images/cyber-3400789_1280.jpg");
}

header h1 {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  color: white;
  padding: 5px;
  font-size: 3em;
  width: 50%;
}

header h2 {
  font-size: 2em;
  font-family: 'Poiret One', cursive;
  padding: 10px 15px;
  color: #ff00b8;
  width: 50%;

}

.formContainer {
  text-align: center;
  padding: 8em;
  background-color: #900086;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ff08ed' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

form{
  box-shadow: 5px 5px 4px 0px #000000;
  font-family: 'Cinzel', serif;
  background-color: #ff00b8;
  display: inline-block;
  padding: 2em;
  font-size: 22px;
  border-radius: 14px;
  width: 50%;
}

form h3 {
  text-align: justify;
  color: white;
}

.input{
  width: 90%;
  height: 3em;
  background-color: #00fff3;
  border: none;
  border-radius: 5px;
}

#submit{
  color: white;
  padding: 0.5em;
  font-family: 'Poiret One', cursive;
  background-color: #9e043d;
  border: none;
  border-radius: 0;
  font-size: 1em;
  -webkit-transition: padding 0.5s, background-color 0.5s, color 0.5s;
  transition: padding 0.5s, background-color 0.5s, color 0.5s;
}
#submit:hover{
  padding: 0.7em 1em;
  background-color: #f7bf14;
  color: #0c3144;
}
